[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
kagglehub = "*"
drf-spectacular = "*"
sentence-transformers = "*"
numpy = "*"
scikit-learn = "*"
channels = "*"
websockets = "*"
daphne = "*"

[requires]
python_version = "3.13"

[dev-packages]
